* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #7790ea;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(214.43, 54%, 45%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(218.62, 75%, 50%) 0, transparent 55%);

  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  gap: 25px;
}
.reset {
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-btn {
  background: white;
  border: none;
  border-radius: 50%;
  display: flex;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.container {
  width: 400px;
  height: min-content;
  padding: 28px;
  backdrop-filter: blur(4px) saturate(118%);
  -webkit-backdrop-filter: blur(4px) saturate(118%);
  background-color: rgba(235, 253, 255, 0.55);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.search-box {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  width: 84%;
  font-size: 20px;
  text-transform: capitalize;
  color: #000;
  background-color: #e6f5fb;
  padding: 12px 16px;
  border-radius: 14px;
}

.search-box input::placeholder {
  color: #000;
}

.search-box button {
  width: 46px;
  height: 46px;
  background-color: #e6f5fb;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

.search-box button:hover {
  color: #fff;
  background-color: #ababab;
}

.weather-body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
  display: none;
}
.weather-body img {
  width: 60%;
}

.weather-box {
  margin-block: 20px;
  text-align: center;
}

.weather-box .temperature {
  font-size: 40px;
  font-weight: 800;
  position: relative;
}

.weather-box .temperature sup {
  font-size: 20px;
  position: absolute;
  font-weight: 600;
}

.weather-box .description {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.humidity,
.wind {
  display: flex;
  align-items: center;
}

.humidity {
  margin-left: 20px;
}

.wind {
  margin-right: 20px;
}

.weather-details i {
  font-size: 36px;
}

.weather-details .text {
  margin-left: 10px;
  font-size: 16px;
}

.text span {
  font-size: 20px;
  font-weight: 700;
}

.location-not-found {
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.location-not-found h1 {
  font-size: 20px;
  color: #6b6b6b;
  margin-block-end: 15px;
}
.location-not-found img {
  width: 80%;
}
.welcome-message {
  margin-top: 32px;
  margin-left: 44px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.welcome-message p {
  font-size: 1.4rem;
  text-align: center;
}
.welcome-message img {
  width: 80%;
  object-fit: contain;
  border-radius: 15px;
}
.fa-sharp {
  color: #00d4ff;
}
.fa-wind {
  color: #00d4ff;
}
